<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    <link rel="stylesheet" href="css/test.css" type="text/css">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="stylesheet" href="/static/layui/css/layui.css"><!-- layui的核心css -->
    <script src="/static/layui/layui.all.js"></script><!--模块化加载layui的核心js -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background: #191970;">
        <div class="layui-logo" style="color: #fff">香菜管理系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a style="color: #fff" href="/user/userLogout">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black" style="background: #191970;">
        <div class="layui-side-scroll" style="background: #191970;">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this" data-biao-shi="item"
                    data-item="/type/list.html" style="background: #191970;"><a
                        href="javascript:;">分类管理</a></li>
                <li class="layui-nav-item " data-biao-shi="item"
                    data-item="/recipes/list.html" style="background: #191970;">
                    <a href="javascript:;">菜谱管理</a></li>
                <li class="layui-nav-item" data-biao-shi="item"
                    data-item="/user/list.html" style="background: #191970;">
                    <a href="javascript:;">用户管理</a></li>
                <li class="layui-nav-item" data-biao-shi="item"
                    data-item="/personal/edit.html" style="background: #191970;">
                    <a href="javascript:;">修改昵称</a></li>
                <li class="layui-nav-item" data-biao-shi="item"
                    data-item="/personal/editpwd.html" style="background: #191970;">
                    <a href="javascript:;">修改密码</a></li>
            </ul>
        </div>
    </div>
</div>
<iframe id="iframe" scrolling="auto" frameborder="0"
        style="margin-left: 200px;" src="/type/list.html"></iframe>
<script>
    function resize() {
        var width = document.documentElement.clientWidth - 200;
        var height = document.documentElement.clientHeight - 60;
        $('#iframe').attr('height', height);
        $('#iframe').attr('width', width);
    }

    $(document).ready(function () {
        layui.element.init();
        resize();
        $(window).resize(function () {
            resize();
        });
        $('[data-biao-shi=item]').click(function () {
            var url = $(this).attr('data-item');
            var iframe = $('#iframe')[0];
            iframe.contentWindow.location.replace(url);
        });
    });
</script>
</body>
</html>