<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>添加管理员</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"><!-- layui的核心css -->
    <script src="/static/layui/layui.all.js"></script><!--模块化加载layui的核心js -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body style="margin: 10px;">
    <fieldset class="layui-elem-field">
        <legend>添加管理员</legend>
        <div class="layui-field-box">
            <form class="layui-form">
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入用户名" name="account" id="account" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入昵称" name="name" id="name" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" placeholder="请输入密码" name="password" id="password" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" placeholder="请再次输入密码" name="repassword" id="repassword" class="layui-input">
                    </div>
                </div>
                <button class="layui-btn" type="button" style="width: 200px; margin-left: 60px; margin-top: 20px;" id="btn">添加</button>
            </form>
        </div>
    </fieldset>
    <script charset="utf-8" type="text/javascript">
        layui.use('form', function() {
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
        });
        //添加
        $('#btn').click(function() {
            var account = $('#account').val();
            var name = $('#name').val();
            var password = $('#password').val();
            var repassword = $('#repassword').val();
            if (!account) {
                layer.alert('用户名不能为空');
                return;
            }
            if (!name) {
                layer.alert('昵称不能为空');
                return;
            }
            if (!password) {
                layer.alert('密码不能为空');
                return;
            }
            if (!repassword) {
                layer.alert('确认密码不能为空');
                return;
            }
            if (repassword != password) {
                layer.alert('密码不一致');
                return;
            }
            var url = '/user/addUser';
            var data = {
                account : account,
                nickname : name,
                password : password,
                type : 1,
            };
            var index = layer.load();
            $.post(url, data, function(res) {
                if (res.code == 0) {
                    window.location.href = '/manager/list.html';
                } else {
                    layer.alert(res.msg);
                }

            }, 'json').always(function() {
                //关闭弹层
                layer.close(index);
            });

        });
    </script>
</body>
</html>