<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>编辑食谱</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"><!-- layui的核心css -->
    <script src="/static/layui/layui.all.js"></script><!--模块化加载layui的核心js -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
</head>
<body style="margin: 10px;">
    <fieldset class="layui-elem-field">
        <legend>编辑食谱</legend>
        <div class="layui-field-box">
            <form class="layui-form" enctype="multipart/form-data">
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">分类名</label>
                    <div class="layui-input-block">
                        <select name="type" id="type">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="请输入食谱标题" name="title" id="title" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">材料</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入所需食材" name="materials" id="materials" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">步骤</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入步骤" name="steps" id="steps" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入食谱描述" name="content" id="content" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 20px; width: 40%;">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn  layui-btn-danger"
                                id="uploadimgbtn" style="width: 100px; margin-left: 40px;">上传图片</button>
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="img"
                                 style="width: 100px; margin-left: 40px;">
                            <p id="url"></p>
                        </div>
                    </div>
                </div>
                <button class="layui-btn" type="button" style="width: 200px; margin-left: 60px; margin-top: 20px;" id="btn">保存</button>
            </form>
        </div>
    </fieldset>
    <script charset="utf-8" type="text/javascript">
        var picPath;
        //从url中获取携带的参数
        var rid = location.search.split("=");
        //查询要修改的数据
        $.ajax({
            url : "/recipes/selectById?id="
                + rid[1],
            type : "get",
            dataType : "json",
            success : function(res) {
                console.log(res.data);
                $("#title").val(res.data.title);
                $("#steps").val(res.data.steps);
                $("#materials").val(res.data.materials);
                $("#content").val(res.data.content);
                getType(res.data.typeid);

                //获取当前网址，如： http://localhost:8088/test/test.html
                var curPath = window.document.location.href;
                //获取主机地址之后的目录，如： test/test.html
                var pathName = window.document.location.pathname;
                var pos = curPath.indexOf(pathName);
                //获取主机地址，如： http://localhost:8088
                var localhostPath = curPath.substring(0, pos);
                picPath = result.data.pic;
                if(picPath.indexOf("v.ylapi.cn") != -1){
                    $('#img').attr('src',   picPath); //图片链接
                }else{
                    $('#img').attr('src', localhostPath + picPath); //图片链接
                }
                layui.use('form', function() {
                    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                    form.render();
                });
            }
        });
        var $ = layui.jquery, upload = layui.upload;
        //普通图片上传
        var uploadimg = upload
            .render({
                elem : '#uploadimgbtn',
                url : '/recipes/uploadImg' //上传接口
                ,
                before : function(obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result) {
                        $('#img').attr('src', result); //图片链接（base64）
                    });
                },
                done : function(res) {
                    console.log(res);
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    //上传成功
                    picPath = res.data;
                    //演示失败状态，并实现重传
                    var url = $('#url');
                    url
                        .html('<span style="color: #FF5722;margin-left: 40px;">'
                            + res.msg + '</span> ');
                },
                error : function() {
                    //演示失败状态，并实现重传
                    var url = $('#url');
                    url
                        .html('<span style="color: #FF5722;margin-left: 40px;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    url.find('.demo-reload').on('click', function() {
                        uploadimg.upload();
                    });
                }
            });
        function getType(typeid) {
            //检查项目添加到下拉框中
            $.ajax({
                url : '/type/typeList',
                dataType : 'json',
                type : 'get',
                success : function(res) {
                    console.log(res.code + "===" + res.data);
                    $.each(res.data, function(index, item) {
                        console.log(item.name);
                        $('#type').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                    });
                    $('#type').find("option[value=" + typeid + "]").attr(
                        "selected", true);
                    layui.use('form', function() {
                        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                        form.render();
                    });
                }
            });
        }
        $('#btn').click(
            function() {
                var title = $('#title').val();
                var typeId = $('#type').val();
                var content = $('#content').val();
                var materials = $('#materials').val();
                var steps = $('#steps').val();
                if (!typeId) {
                    layer.alert('请选择分类');
                    return;
                }
                if (!title) {
                    layer.alert('标题不能为空');
                    return;
                }
                if (!materials) {
                    layer.alert('材料不能为空');
                    return;
                }
                if (!steps) {
                    layer.alert('步骤不能为空');
                    return;
                }
                if (!content) {
                    layer.alert('描述不能为空');
                    return;
                }
                if (!picPath) {
                    layer.alert('请上传图片');
                    return;
                }
                var url = '/recipes/editRecipes';
                var data = {
                    id: rid[1],
                    title : title,
                    materials : materials,
                    steps : steps,
                    typeid : typeId,
                    pic : picPath,
                    content : content,
                };
                var index = layer.load();
                $.post(url, data, function(res) {
                    if (res.code == 0) {
                        window.location.href = '/recipes/list.html';
                    } else {
                        layer.alert(res.msg);
                    }
                }, 'json').always(function() {
                    //关闭弹层
                    layer.close(index);
                });
            });
    </script>

</body>
</html>